<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Store</title>
		<link rel="stylesheet" href="/css/style.css" />
		<script
			src="https://kit.fontawesome.com/cd9e976117.js"
			crossorigin="anonymous"
		></script>
		<style>
			@media (max-width: 768px) {
				.discover-define {
					display: none;
				}
				.carousel-text {
					display: block !important;
				}
			}

			.discover-define {
				position: absolute;
				transform: translate(-50%, 0);
				text-align: center;
				font-size: 5rem;
				font-weight: 500;
				color: white;
				white-space: nowrap;
				z-index: 1;
			}
			.carousel-text {
				transition: opacity 0.5s ease-in-out;
				display: none;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				text-align: center;
				font-size: 5rem;
				font-weight: 500;
				color: white;
				white-space: nowrap;
				z-index: 1;
			}
			.rolling-text {
				color: violet;
			}
		</style>
	</head>
	<body>
		<nav id="nav">
			<div class="nav-links-div">
				<div
					style="font-size: 2rem; font-weight: 500; margin: 0"
					class="paragraph"
				>
					Store
				</div>
				<a style="align-self: center" class="link" href="/shop">
					<span>Shop</span>
				</a>
				<a style="align-self: center" class="link" href="/about">
					<span>About</span>
				</a>
				<a style="align-self: center" class="link" href="/contact">
					<span>Contact</span>
				</a>
			</div>

			<span style="align-self: center">
				<i class="fa-solid fa-circle-user fa-xl"></i>
				<span style="padding: 0 0.5rem"></span>
				<i class="fa-solid fa-cart-shopping"></i>
				0
			</span>
		</nav>
		<!-- -------------------------------------------------- -->
		<section id="images-section" style="position: relative">
			<img
				style="
					width: 100%;
					height: 70vh;
					object-fit: cover;
					object-position: 0 30%;
					border-radius: 2rem;
					filter: saturate(1.5) brightness(0.8) blur(0.3px)
						contrast(1.1);
				"
				src="/images/shirts.jpg"
				alt=""
			/>
			<p class="discover-define" style="left: 50%; top: 10%">
				Discover Your Style
				<br />

				<br />
				Define Your <span class="rolling-text">Chic</span>
			</p>
			<span class="carousel-text">Elegance</span>
			<script>
				const texts = [
					"Chic",
					"Trendy",
					"Stylish",
					"Modern",
					"Suave",
					"Sleek",
				];
				const texts2 = ["Elegance", "Trend", "Style", "Suave"];
				const text = document.querySelector(".carousel-text");
				const text2 = document.querySelector(".rolling-text");
				let currentIndex = 0;
				let i = 0;
				setInterval(() => {
					text.style.opacity = 0;
					setTimeout(() => {
						text.innerText = texts[currentIndex];
						text.style.opacity = 1;
						currentIndex = (currentIndex + 1) % texts.length;
					}, 500);
				}, 2500);
				setInterval(() => {
					text2.style.opacity = 0;
					setTimeout(() => {
						text2.innerText = texts2[i];
						text2.style.opacity = 1;
						i = (i + 1) % texts2.length;
					}, 500);
				}, 2700);
			</script>
		</section>
		<br />

		<!-- -------------------------------------------------- -->
		<p style="text-align: center; font-size: 2rem">Featured Products</p>
		<section class="images">
			<div>
				<img
					loading="lazy"
					class="featured"
					src="https://lh3.googleusercontent.com/pw/AJFCJaXc27deKeIZDNgXmZsYhSN-bsDGJyNJmW6Ji_FUCTTSPt76uurx_LZmkons2TKpzFS8acYlpm90K0pTnl8G7qTnLC0wS6yAfLOjV4u9l5kWe7jSY_PTDrw7FfP3gieL4I7tVflDHhBCuNg-iE192Rm8JQ=w713-h950-s-no?authuser=0"
					alt=""
				/>
				<p
					style="
						text-align: center;
						letter-spacing: 0.05rem;
						font-size: 1.1rem;
					"
				>
					Glasses
				</p>
				<p style="margin: 0; text-align: center; font-size: 0.8rem">
					starting @ ₹249
				</p>
			</div>
			<div>
				<img
					loading="lazy"
					class="featured"
					src="https://lh3.googleusercontent.com/pw/AMWts8Awg82_MijYT7ZKNteX339O0YDKvFLMyxEDZvUN0mZg0cSjGf8E9_NZdTD2lDHGPTjceP7fbVIUQhrLpDTwipVJzWeXNYdNJY_OsBbO_4FNpqLUtZDknaXihKpsFhVJQVna5lbUXI1XRkeglo3h8DJruA=w713-h950-s-no?authuser=0"
					alt=""
				/>
				<p
					style="
						text-align: center;
						letter-spacing: 0.05rem;
						font-size: 1.1rem;
					"
				>
					Shirts
				</p>
				<p style="margin: 0; text-align: center; font-size: 0.8rem">
					starting @ ₹599
				</p>
			</div>
			<div>
				<img
					loading="lazy"
					class="featured"
					src="https://lh3.googleusercontent.com/pw/AJFCJaXYXQY5XpxiTSwqhmKcLB8xujLm4Irdk6qQW_ZENcauVec9_hWCnaZ1X713uxzcCx-V3xNeMsVP6_2YOqAMBvMjLRGTaTGXgZbohZfOkBSxYrrI_ezRaq3F-15Itkzd5JSPAmdtT_7BRNGLn6ZyjxPqrw=w743-h950-s-no?authuser=0"
					alt=""
				/>
				<p
					style="
						text-align: center;
						letter-spacing: 0.05rem;
						font-size: 1.1rem;
					"
				>
					Masks
				</p>
				<p style="margin: 0; text-align: center; font-size: 0.8rem">
					starting @ ₹149
				</p>
			</div>
		</section>
		<br />
		<div style="display: flex; justify-content: center">
			<button
				style="
					height: 2rem;
					width: 4rem;
					background-color: black;
					color: whitesmoke;
					border: 1px solid gray;
					border-radius: 1rem;
				"
			>
				Shop
			</button>
		</div>
		<br />
		<!-- -------------------------------------------------- -->
		<section>
			<style>
				.fa-brands {
					animation: anime 5s ease infinite;
				}
				@keyframes anime {
					0% {
						color: black;
					}
					25% {
						color: red;
					}
					50% {
						color: green;
					}
					75% {
						color: blue;
					}
					100% {
						color: black;
					}
				}
			</style>
			<div>
				<p style="text-align: center; font-size: 2rem">More about us</p>
				<p style="margin: auto; text-align: center; width: 50%">
					Tell people about who you are, your origin, your process, or
					your inspirations. Tap into your creativity. You've got
					this. The way you tell your story online can make all the
					difference. Don't worry about sounding professional. Sound
					like you.
				</p>
			</div>
			<hr style="width: 50%; margin-top: 2rem; margin-bottom: 2rem" />
			<p
				style="
					margin: auto;
					text-align: center;
					width: 50%;
					font-size: 1.5rem;
				"
			>
				Follow us:
			</p>
			<div
				style="
					display: flex;
					justify-content: space-evenly;
					width: 40%;
					margin: 1rem auto;
				"
			>
				<a class="link" href="https://instagram.com" target="_blank">
					<i class="fa-brands fa-instagram"></i>
				</a>
				<a class="link" href="https://facebook.com" target="_blank">
					<i class="fa-brands fa-facebook"></i>
				</a>
				<a class="link" href="https://twitter.com" target="_blank">
					<i class="fa-brands fa-twitter"></i>
				</a>
				<a class="link" href="https://whatsapp.com" target="_blank">
					<i class="fa-brands fa-whatsapp"></i>
				</a>
			</div>
		</section>
		<!-- -------------------------------------------------- -->
	</body>
</html>
