<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Store</title>
		<link rel="stylesheet" href="/css/style.css" />
		<script
			src="https://kit.fontawesome.com/cd9e976117.js"
			crossorigin="anonymous"
		></script>
	</head>
	<body>
		<nav id="nav">
			<div
				style="
					font-size: 2rem;
					font-weight: 500;
					margin: 0;
					align-self: center;
					color: #393e46;
				"
				class="paragraph"
			>
				Store
			</div>

			<span style="align-self: center">
				<i class="fa-solid fa-circle-user fa-xl"></i>
				<span style="padding: 0 0.5rem"></span>
				<i class="fa-solid fa-cart-shopping"></i>
				0
			</span>
		</nav>
		<!-- -------------------------------------------------- -->
		<section id="images-section" style="position: relative">
			<img id="landing-image" src="/images/shirts.jpg" alt="" />
			<p class="discover-define" style="left: 50%; top: 10%">
				Discover Your Style
				<br />

				<br />
				Define Your <span class="rolling-text">Chic</span>
			</p>
			<span class="carousel-text">Elegance</span>
		</section>
		<div
			style="
				display: flex;
				flex-direction: row;
				justify-content: space-evenly;
			"
		>
			<div>Lowest Prices</div>
			<div>Easy Returns</div>
			<div>Best Quality</div>
		</div>
		<hr style="width: 60%" />
		<br />

		<!-- <h2 style="text-align: center">
			<a
				style="
					border: 1px solid salmon;
					padding: 0.2rem 0.5rem;
					border-radius: 0.5rem;
				"
				class="link"
				href="/addProduct"
			>
				Add Product
			</a>
		</h2> -->

		<!-- -------------------------------------------------- -->
		<p style="text-align: center; font-size: 2rem">Featured Categories</p>
		<style>
			.goto {
				margin-bottom: 1rem;
			}
			.featuredHeading {
				text-align: center;
				letter-spacing: 0.05rem;
				font-size: 1.1rem;
				margin: 0.5rem 0;
			}
		</style>
		<section class="images">
			<div id="goto-tshirts" class="goto">
				<img
					id="tshirt-image"
					src="/images/tshirtFeatured.jpg"
					loading="lazy"
					class="featured"
					alt=""
				/>
				<p class="featuredHeading">Tshirts</p>
				<p style="margin: 0; text-align: center; font-size: 0.8rem">
					starting @ ₹249
				</p>
			</div>
			<div id="goto-shirts" class="goto">
				<img
					id="shirt-image"
					src="/images/shirtFeatured.jpg"
					loading="lazy"
					class="featured"
					alt=""
				/>
				<p class="featuredHeading">Shirts</p>
				<p style="margin: 0; text-align: center; font-size: 0.8rem">
					starting @ ₹599
				</p>
			</div>
			<div id="goto-free-delivery" class="goto">
				<img
					loading="lazy"
					class="featured"
					src="/images/curatedFeatured.jpg"
					alt=""
				/>
				<p class="featuredHeading">Curated</p>
				<p style="margin: 0; text-align: center; font-size: 0.8rem">
					Best Handpicked Products
				</p>
			</div>
			<style>
				.goto {
					cursor: pointer;
					transition-duration: 250ms;
				}
				.goto:hover {
					transform: scale(1.025);
				}
			</style>
			<script>
				document
					.getElementById("goto-tshirts")
					.addEventListener("click", () => {
						window.location.href = "/shop/tshirts";
					});
				document
					.getElementById("goto-shirts")
					.addEventListener("click", () => {
						window.location.href = "/shop/shirts";
					});
				document
					.getElementById("goto-free-delivery")
					.addEventListener("click", () => {
						window.location.href = "/shop?curated=true";
					});

				const tshirtImageSources = [
					"/images/tshirtFeatured.jpg",
					"/images/tshirtFeatured2.jpg",
				];
				const shirtImageSources = [
					"/images/shirtFeatured.jpg",
					"/images/shirtFeatured2.jpg",
				];
				let currentTshirtImageIndex = 0;
				let currentShirtImageIndex = 0;
				function updateTshirtImageSource() {
					const tshirtImageElement =
						document.getElementById("tshirt-image");
					if (tshirtImageElement) {
						tshirtImageElement.src =
							tshirtImageSources[currentTshirtImageIndex];
						currentTshirtImageIndex =
							(currentTshirtImageIndex + 1) %
							tshirtImageSources.length;
					}
				}
				function updateShirtImageSource() {
					const shirtImageElement =
						document.getElementById("shirt-image");
					if (shirtImageElement) {
						shirtImageElement.src =
							shirtImageSources[currentShirtImageIndex];
						currentShirtImageIndex =
							(currentShirtImageIndex + 1) %
							shirtImageSources.length;
					}
				}
				function alternateImageSources() {
					updateTshirtImageSource();
					setTimeout(() => updateShirtImageSource(), 1500);
				}
				alternateImageSources();
				setInterval(alternateImageSources, 4500);
			</script>
		</section>
		<div style="display: flex; justify-content: center">
			<a title="shop" href="/shop">
				<button class="black-btn">Shop</button>
			</a>
		</div>
		<br />
		<!-- -------------------------------------------------- -->
		<section>
			<div>
				<p style="text-align: center; font-size: 2rem; color: #393e46">
					About us
				</p>
				<p style="margin: auto; width: 50vw">
					Welcome to our online retail store, where we offer a
					carefully curated collection of premium shirts and t-shirts
					for fashion-conscious individuals. We believe that style
					shouldn't come at a high cost, which is why we offer
					unbeatable prices on high-quality products. Embrace
					exceptional style without breaking the bank, and never
					settle for mediocrity. Read more about us
					<span><a href="/about">here</a></span>
				</p>
			</div>
			<hr style="width: 50%; margin-top: 2rem; margin-bottom: 2rem" />
			<p
				style="
					margin: auto;
					text-align: center;
					color: #393e46;
					width: 50%;
					font-size: 1.5rem;
				"
			>
				Follow us:
			</p>
			<div
				style="
					display: flex;
					justify-content: space-evenly;
					width: 50vw;
					margin: 1rem auto;
				"
			>
				<a class="link" href="https://instagram.com" target="_blank">
					<i class="fa-brands fa-instagram"></i>
				</a>
				<a class="link" href="https://facebook.com" target="_blank">
					<i class="fa-brands fa-facebook"></i>
				</a>
				<a class="link" href="https://twitter.com" target="_blank">
					<i class="fa-brands fa-twitter"></i>
				</a>
				<a class="link" href="https://whatsapp.com" target="_blank">
					<i class="fa-brands fa-whatsapp"></i>
				</a>
			</div>
		</section>
		<!-- -------------------------------------------------- -->
		<script>
			const texts = [
				"Elegance",
				"Chic",
				"Trendy",
				"Stylish",
				"Modern",
				"Suave",
				"Sleek",
			];
			const texts2 = [
				"Chic",
				"Elegance",
				"Trend",
				"Suave",
				"Look",
				"Personality",
			];
			const text = document.querySelector(".carousel-text");
			const text2 = document.querySelector(".rolling-text");
			let currentIndex = 1;
			let i = 1;
			setInterval(() => {
				text.style.opacity = 0;
				setTimeout(() => {
					text.innerText = texts[currentIndex];
					text.style.opacity = 1;
					currentIndex = (currentIndex + 1) % texts.length;
				}, 500);
			}, 2500);
			setInterval(() => {
				text2.style.opacity = 0;
				setTimeout(() => {
					text2.innerText = texts2[i];
					text2.style.opacity = 1;
					i = (i + 1) % texts2.length;
				}, 500);
			}, 2700);
		</script>
	</body>
</html>
