<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Login</title>
		<link rel="stylesheet" href="/css/style.css" />
	</head>
	<body>
		<nav id="nav">
			<a
				style="
					font-size: 2rem;
					font-weight: 500;
					margin: 0;
					align-self: center;
				"
				class="link"
				href="/"
			>
				<div style="color: #393e46">Store</div>
			</a>
			<button class="cta">
				<a class="link" href="/signUp">
					<span class="hover-underline-animation"
						>Sign-up Instead</span
					>
				</a>
			</button>
		</nav>
		<section
			style="
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
			"
		>
			<p
				style="
					font-size: larger;
					font-weight: 500;
					color: #393e46;
					text-align: center;
				"
			>
				LOGIN TO STORE
			</p>
			<form class="form" action="/login" method="post">
				<div style="display: flex; justify-content: space-between">
					<label class="paragraph" for="email">Email:</label>
					<input
						type="text"
						name="email"
						class="input-box"
						placeholder="Email"
					/>
				</div>
				<br />
				<div style="display: flex; justify-content: space-between">
					<label class="paragraph" for="password">Password:</label>
					<input
						type="text"
						name="password"
						class="input-box"
						placeholder="Password"
					/>
				</div>
				<br />
				<div
					style="
						display: flex;
						justify-content: center;
						margin-top: 0.5rem;
					"
				>
					<button class="black-btn hover-outline" type="submit">
						Login
					</button>
				</div>
			</form>
		</section>
	</body>
</html>
