<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= productDetails.name %></title>
		<link rel="stylesheet" href="/css/style.css" />
		<script
			src="https://kit.fontawesome.com/cd9e976117.js"
			crossorigin="anonymous"
		></script>
	</head>
	<body>
		<nav id="nav">
			<a
				style="
					font-size: 2rem;
					font-weight: 500;
					margin: 0;
					align-self: center;
				"
				class="link"
				href="/"
			>
				<div style="color: #393e46">Store</div>
			</a>

			<% if (user && user.username) { %>
			<span style="align-self: center">
				<i class="fa-regular fa-circle-user fa-lg"></i>
				<span style="padding: 0 0.5rem"></span>
				<i class="fa-solid fa-cart-shopping"></i>
				0
			</span>
			<% } else { %>
			<div style="align-self: center; display: flex; gap: 1rem">
				<button class="cta">
					<a class="link" href="/login">
						<span class="hover-underline-animation">Login</span>
					</a>
				</button>
				<button class="cta">
					<a class="link" href="/signUp">
						<span class="hover-underline-animation">Sign-up</span>
					</a>
				</button>
			</div>
			<% } %>
		</nav>
		<p style="font-weight: 500">Home / shop / <%= productType %> /</p>
		<section style="display: flex; justify-content: space-evenly">
			<div>
				<img
					style="width: 20rem; border-radius: 0.5rem"
					src="<%= productDetails.image %>"
					alt=""
				/>
			</div>
			<div>
				<p style="font-size: 1.5rem; font-weight: 500; color: #393e46">
					<%= productDetails.name %>
				</p>
			</div>
		</section>
	</body>
</html>
