<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Shop</title>
		<link rel="stylesheet" href="/css/style.css" />
	</head>
	<body>
		<nav id="nav">
			<div class="nav-links-div">
				<a class="link" href="/about">
					<span>About</span>
				</a>
				<a class="link" href="/contact">
					<span>Contact</span>
				</a>
			</div>
			<a class="link" href="/">
				<p style="font-size: 2rem" class="paragraph">Store</p>
			</a>
		</nav>
		<hr class="hr" />
		<section id="shop-img-section">
			<div>
				<img
					class="product-img"
					src="https://lh3.googleusercontent.com/pw/AJFCJaWXlMmvLr2l-j5ASEX8MWOnNgQrbsMC8O-wdbRFoLCUInqsCS8Qn7aZdXu0WJ_GoeUREV2qEHzerDqkFg6AkzQfb_5Ahve88oxUvyxbK5SjhdSCJ3GyasQxmGukk0guSRN19q2yvF2wQhZfgUXdsscL6g=w535-h950-s-no?authuser=0"
					alt=""
				/>
			</div>
			<div>
				<img
					class="product-img"
					src="https://lh3.googleusercontent.com/pw/AJFCJaXk4BsapHa3W9D2ZzUM6ePzvW4rHkTZhKP7oM-fqwCo53DRfFNzsXtFr69_XtaHs2G35yFB7ffS6-Vxrfnnh2TVkAcNvEyINRWO-WuNBAvvMr0VJXgON8XOZwcPbZPSbRLJrJzcsrCKTDbwEZg2GlCUOQ=w535-h950-s-no?authuser=0"
					alt=""
				/>
			</div>
			<div>
				<img
					class="product-img"
					src="https://lh3.googleusercontent.com/pw/AJFCJaXEu-vgs6KTTTW9E6SMK2h6jl59rw8zcEiQCG6ebq16Y90ZGYsc6P4W7Ng8jFUqd3N5ZTmFAP-fls4YR3MIxFeWByx_hXUa86YAcvWMiOwWJKypIrqfjYHm0MYqBjRwDs0N1C710Brz4Hm8DB766CPqdQ=w535-h950-s-no?authuser=0"
					alt=""
				/>
			</div>
			<div>
				<img
					class="product-img"
					src="https://lh3.googleusercontent.com/pw/AJFCJaUszJlDWM2z-jgLs_coUHC8sy4eooiayTZktA0fCXZExUjXSEH-n0zX7kaoW-qy_Rst6JshHE6pLUVFBCIoMmnxmxa-MWxFVdFe3N_WxFDKvSmeMX2qMWil9rm2AHTgu-usKqb6gdwF0hVxgcW8utbaWA=w535-h950-s-no?authuser=0"
					alt=""
				/>
			</div>
			<div>
				<img
					class="product-img"
					src="https://lh3.googleusercontent.com/pw/AJFCJaUz1Jn28hYh2WrtlQo4aXKA47Psp9CXDBiETokGl5dcZuLBTB_R3twUIz0UgE6-Cu5eTheFeRY08sbO7fAOOIFKSp02fdqZMC4PYTmzrrhlCFOf6LB6EVDG04hqk-QcQJnXdFdqgzZehgj4-KzS7r_MZQ=w535-h950-s-no?authuser=0"
					alt=""
				/>
			</div>
			<div>
				<img
					class="product-img"
					src="https://lh3.googleusercontent.com/pw/AJFCJaWEycJk0R4RCMpj9zX77dxYG60upE2zh7ZFH13F8iNMdTQFcYQKMHKXZm5DR0AVsKO4qcPrHSsfbgvRSO3EnqYjiE-5EqMc_H7ZFwcAutg65s8nIFyobPNbNaF9uZjO6HP8oPiYITeTb4Ink1vTKZhk4g=w535-h950-s-no?authuser=0"
					alt=""
				/>
			</div>
			<div>
				<img
					class="product-img"
					src="https://lh3.googleusercontent.com/pw/AJFCJaWFcIY27Nc0BwKVAP_CQjhTOMRnHEZK4yeqyNET2jjQvCp2yFnp2bkpi6Ac7vI-H0RUyF95lC8AEBA8bFdVYovmejdpU8lMNm3cs3X-nS5hmfa0UCFJn-ih_ar8fdYOmbEKrRevYCNFgrvhsU93wQcD8Q=w535-h950-s-k-no?authuser=0"
					alt=""
				/>
			</div>
			<div>
				<img
					class="product-img"
					src="https://lh3.googleusercontent.com/pw/AJFCJaUk8h5do448sOlNkMdG3Ra-OHjY1zcgL8KrTX4lKrmfD--8C8fEvdOLPSXK4kPgUTA5w8nnaxMHhBO3GEFBK2wQcYZmeWYT3x8v4X_LqV4slLvzTJLAZV9utewACp5A2hhtc_YIspSwkdRJ6LlqcWUfOw=w535-h950-s-no?authuser=0"
					alt=""
				/>
			</div>
			<div>
				<img
					class="product-img"
					src="https://lh3.googleusercontent.com/pw/AJFCJaURN18D2hOz3y48JLuS3Eq17WJcMpBlbcQYU8gDvvwaV7XwJ_L9OgCmCr3TkEt2vcEJF-Z_vecR7klTogT8d3Naszk532ZQc513df-D6U56RqWMVjVpWLvTJod2tywkHtlpN77Ri22-lbET5EhID4N59A=w535-h950-s-no?authuser=0"
					alt=""
				/>
			</div>
		</section>
	</body>
</html>
