@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Raleway:wght@300;400&display=swap");

@media (max-width: 768px) {
	.discover-define {
		display: none;
	}
	.carousel-text {
		display: block !important;
	}
	.OnlyPhones {
		display: flex !important;
	}
	#about-paragraph {
		width: 80% !important;
	}
}

@keyframes anime {
	0% {
		color: black;
	}
	25% {
		color: blueviolet;
	}
	50% {
		color: palevioletred;
	}
	75% {
		color: blueviolet;
	}
	100% {
		color: black;
	}
}

@property --color {
	syntax: "<color>";
	inherits: true;
	initial-value: black;
}

body {
	background-color: rgb(246, 246, 246);
	font-family: "Montserrat", sans-serif;
}

#main-section {
	display: flex;
	gap: 1rem;
	margin: 1rem 0;
	border-radius: 1rem;
	padding: 1rem;
}

#shop-img-section {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
	row-gap: 1rem;
	margin: 0.5rem;
	justify-items: center;
	align-items: center;
	margin: 2rem 0;
}

#nav {
	display: flex;
	height: 3rem;
	padding: 0 1rem;
	justify-content: space-between;
}

#landing-image {
	width: 100%;
	height: 70vh;
	object-fit: cover;
	object-position: center center;
	border-radius: 2rem;
	filter: saturate(1.5) brightness(0.8) blur(0.3px) contrast(1.1);
}

.paragraph {
	margin: 1rem 0;
}

.hr {
	margin: 0;
}

.images {
	display: flex;
	flex-wrap: wrap;
	margin: 1rem;
	gap: 1rem;
	justify-content: space-around;
}

.featured {
	--width-of-featured-img: 20rem;
	width: var(--width-of-featured-img);
	object-fit: cover;
	object-position: top;
	aspect-ratio: 1 / 1;
	border-radius: calc(var(--width-of-featured-img) / 15);
}

.link {
	text-decoration: none;
	color: black;
}

.black-btn {
	cursor: pointer;
	height: 2rem;
	width: fit-content;
	padding: 0 0.7rem;
	background-color: black;
	color: whitesmoke;
	border: 1px solid gray;
	border-radius: 1rem;
}

.product-img {
	outline: 1px solid gainsboro;
	width: 100%;
	border-radius: 0.5rem;
	max-width: 15rem;
	box-sizing: border-box;
	filter: saturate(1.25);
}

.discover-define {
	position: absolute;
	transform: translate(-50%, 0);
	text-align: center;
	font-size: 5rem;
	font-weight: 500;
	color: white;
	white-space: nowrap;
	z-index: 1;
}

.carousel-text {
	transition: opacity 0.5s ease-in-out;
	display: none;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 5rem;
	font-weight: 500;
	color: white;
	white-space: nowrap;
	z-index: 1;
}

.rolling-text {
	transition: opacity 0.5s ease-in-out;
	color: violet;
}

.fa-brands {
	animation: anime 5s ease infinite;
}

.form {
	display: flex;
	flex-direction: column;
	background-color: white;
	padding: 1rem;
	border-radius: 1rem;
	transition-duration: 250ms;
	box-shadow: 0 0 0.5rem rgb(200, 200, 200);
}

.form:hover {
	box-shadow: 0 0 1rem rgb(255, 195, 195);
}

.input-box {
	height: 2rem;
	border-radius: 0.5rem;
	border: none;
	outline: 1px solid gray;
	background-color: whitesmoke;
	padding-left: 0.5rem;
	margin: 0.5rem;
}

.input-box:focus {
	background-color: white;
}

.cta {
	border: none;
	background: none;
}
.cta span {
	padding-bottom: 0.2rem;
	letter-spacing: 0.1rem;
	font-size: 0.8rem;
	text-transform: uppercase;
}

.hover-underline-animation {
	position: relative;
	color: black;
	padding-bottom: 1rem;
}

.hover-underline-animation:after {
	content: "";
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #000000;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.hover-outline {
	background-color: var(--color);
	transition: --color 700ms, color 700ms;
}

.hover-outline:hover {
	color: black;
	--color: white;
}

/* 

scrollbars

*/

::-webkit-scrollbar {
	width: 0.5rem;
}
::-webkit-scrollbar-thumb {
	background-color: gray;
	border-radius: 0.5rem;
}
