@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Raleway:wght@300;400&display=swap");

@media (max-width: 768px) {
	.discover-define {
		display: none;
	}
	.carousel-text {
		display: block !important;
	}
}

@keyframes anime {
	0% {
		color: black;
	}
	25% {
		color: blueviolet;
	}
	50% {
		color: palevioletred;
	}
	75% {
		color: blueviolet;
	}
	100% {
		color: black;
	}
}

body {
	background-color: rgb(246, 246, 246);
	font-family: "Montserrat", sans-serif;
}

#images-section {
	display: flex;
	gap: 1rem;
	margin: 1rem 0;
	border-radius: 1rem;
	padding: 1rem;
}

#shop-img-section {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
	row-gap: 1rem;
	margin: 0.5rem;
	justify-items: center;
	align-items: center;
	margin: 2rem 0;
}

#nav {
	display: flex;
	border-radius: 1rem;
	height: 3rem;
	padding: 0 1rem;
	justify-content: space-between;
}

.nav-links-div {
	display: flex;
	font-weight: 300;
	font-size: 1.1rem;
	align-self: center;
	gap: 2rem;
}

.paragraph {
	margin: 1rem 0;
}

.hr {
	margin: 0;
}

.images {
	display: flex;
	flex-wrap: wrap;
	margin: 1rem;
	gap: 1rem;
	justify-content: space-around;
}

.featured {
	width: 20rem;
	object-fit: cover;
	object-position: top;
	aspect-ratio: 1 / 1;
	border-radius: 100%;
}

.link {
	text-decoration: none;
	color: black;
}

.product-img {
	outline: 1px solid gainsboro;
	width: 100%;
	border-radius: 0.5rem;
	max-width: 15rem;
	box-sizing: border-box;
	filter: saturate(1.25);
}

.discover-define {
	position: absolute;
	transform: translate(-50%, 0);
	text-align: center;
	font-size: 5rem;
	font-weight: 500;
	color: white;
	white-space: nowrap;
	z-index: 1;
}

.carousel-text {
	transition: opacity 0.5s ease-in-out;
	display: none;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 5rem;
	font-weight: 500;
	color: white;
	white-space: nowrap;
	z-index: 1;
}

.rolling-text {
	transition: opacity 0.5s ease-in-out;
	color: violet;
}

.fa-brands {
	animation: anime 5s ease infinite;
}

/* 

scrollbars

*/

::-webkit-scrollbar {
	width: 0.5rem;
}
::-webkit-scrollbar-thumb {
	background-color: gray;
	border-radius: 0.5rem;
}
